*{
    font-family: "Roboto Slab", serif;
}

.login-form{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login-form h3{
    text-align: center;
    color: olivedrab;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

input[type='text'],input[type='password']{
    padding: 10px;
}



.login-btn{
    background-color: rgb(24, 255, 24);
    color: white;
    width: 10%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 0 auto;

}
.error{
    color: red;
}

.error h3{
    text-align: center;
}
.hidden {
    display: none;
}